backoff==2.2.1
sseclient-py==1.8.0
langchain==0.3.27
langchain-community==0.3.16
langchain-huggingface==0.3.1
langchain-milvus==0.2.0
pymilvus==2.6.0
grpcio==1.66.2
sentence-transformers==5.1.1
milvus-lite==2.4.8
