ui/assets/*.onnx
ui/assets/*.onnx.json
!ui/assets/de_DE-thorsten-medium.onnx.json
!ui/assets/en_US-hfc_female-medium.onnx.json
!ui/assets/en_US-hfc_male-medium.onnx.json
!ui/assets/es_ES-davefx-medium.onnx.json
!ui/assets/fr_FR-siwis-medium.onnx.json
!ui/assets/it_IT-paola-medium.onnx.json
!ui/assets/no_NO-talesyntese-medium.onnx.json
!ui/assets/zh_CN-huayan-medium.onnx.json
ffmpeg-build
ui/server.log
**/__pycache__/
.venv/
ui/uploads/
*.wav
!ui/static/fillers/*.wav
ui/.milvus*
ui/milvus.db*
ui/milvus.meta.json
.cache/*
.venv-*/*
*.tar.gz
eui/build/*
console.log
app.log
mla-rt
sima_lmm
gte-small-local
# Default image path for CLI mode
images/*
.vscode/
.codex/
.claude/
